<main>
    <div class="contact-info">
        <ul>
            <li><a href="mailto:manuel.mandaio@gmail.com"><i class="fas fa-envelope"></i> Enviar un Correo: manuel.mandaio{{'@'}}gmail.com</a></li>
            <li><a href="https://github.com/TotiManuel"><i class="fab fa-github"></i> GitHub: TotiManuel</a></li>
            <li><a href="https://twitter.com/tuusuario"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="https://instagram.com/tuusuario"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://wa.me/3535654443?text=Hola%20vengo%20desde%20tu%20página%20web" target="_blank"><i class="fas fa-phone"></i> Whatsapp: (0353) - 155654443</a></li>
            <button>Descargar Curriculum Vitae</button>
        </ul>
    </div>
</main>
<router-outlet />
