<main>
    <div class="contact-info">
        <ul>
            <li><a href="mailto:manuel.mandaio@gmail.com"><i class="fas fa-envelope"></i> Enviar un Correo: manuel.mandaio{{'@'}}gmail.com</a></li>
            <li><a href="https://github.com/TotiManuel"><i class="fab fa-github"></i> GitHub: TotiManuel</a></li>
            <li><a href="https://www.linkedin.com/in/juli%C3%A1n-mandaio-0953681ab/" target="_blank">LinkedIn: Julián Mandaio</a></li>
            <li><a href="https://wa.me/3535654443?text=Hola%20vengo%20desde%20tu%20página%20web" target="_blank"><i class="fas fa-phone"></i> Whatsapp: (0353) - 155654443</a></li>
        </ul>
    </div>
</main>
<router-outlet />
