<table border="1">
    <tr>
        <td colspan="2" style="text-align: center;">Ultimos Avances</td>
    </tr>
    <tr>
        <td class="Noticia" id="Noticia1"><img src="../../favicon.ico">Tecnicatura en Programacion</td>
        <td class="Noticia" id="Noticia2"><img src="../../favicon.ico"> Proyectos en Java</td>
        <td class="Noticia" id="Noticia3"><img src="../../favicon.ico">Proyectos en Angular</td>
        <td class="Noticia" id="Noticia4"><img src="../../favicon.ico">Proyectos en Python</td>
    </tr>
</table>
