<table border="0">
    <tr>
        <td colspan="2" style="text-align: center;" class="Habilidades">Proyectos</td>
    </tr>
    <tr>
        <td class="Noticia" id="Noticia2"><img src="../../assets/images/JavaIcon.ico" width="32px"> Proyectos en Java
        <ul>
        <li class="SubMenu"><a href="https://github.com/TotiManuel/Java" target="_blank">Software de Gestion de Clinicas</a></li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia3"><img src="../../assets/images/favicon.ico" width="32px"> Proyectos en Angular
        <ul>
        <li class="SubMenu"><a href="https://github.com/TotiManuel/Angular" target="_blank">Esta Web</a></li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia4"><img src="../../assets/images/python.png" width="32px"> Proyectos en Python
        <ul>
        <li class="SubMenu"><a href="https://github.com/TotiManuel/BiomagnetismoPB" target="_blank">Software de Gestion de Ventas y Turnos</a></li>
        <li class="SubMenu"><a href="https://github.com/TotiManuel/CalcuMay" target="_blank">Calculadora (Completada)</a></li>
        </ul>
        <td class="Noticia" id="Noticia4"><img src="../../assets/images/extras.ico" width="32px"> Extras
        <ul>
        <li class="SubMenu">Actualmente aprendiendo arduino.</li>
        </ul>
        </td>
    </tr>
</table>
