<table border="0">
    <tr>
        <td colspan="2" style="text-align: center;" class="Habilidades">Proyectos</td>
    </tr>
    <tr>
        <td class="Noticia" id="Noticia1"><img src="../../assets/images/UTNIcon.png" width="32px"> Tecnicatura en Programacion
        <ul class="SubMenu"><b>Materias: </b>
        <li class="SubMenu" id="Materia1">Laboratorio</li>
        <li class="SubMenu" id="Materia2">Programación</li>
        <li class="SubMenu" id="Materia3">Matematicas</li>
        <li class="SubMenu" id="Materia4">Inglés</li>
        <li class="SubMenu" id="Materia5">Metodologia de la Investigacion</li>
        <li class="SubMenu" id="Materia6">Arquitectura y Sistemas Operativos</li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia2"><img src="../../assets/images/JavaIcon.ico" width="32px"> Proyectos en Java
        <ul>
        <li class="SubMenu">Software de Gestion de Clinicas</li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia3"><img src="../../assets/images/favicon.ico" width="32px"> Proyectos en Angular
        <ul>
        <li class="SubMenu">Esta Web</li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia4"><img src="../../assets/images/python.png" width="32px"> Proyectos en Python
        <ul>
        <li class="SubMenu">Software de Gestion de Ventas y Turnos</li>
        <li class="SubMenu">Calculadora (Completada)</li>
        </ul>
        <td class="Noticia" id="Noticia4"><img src="../../assets/images/arduino.png" width="32px"> Proyectos en Arduino
        <ul>
        <li class="SubMenu">Software de Gestion de Ventas y Turnos</li>
        </ul>
        </td>
        <td class="Noticia" id="Noticia4"><img src="../../assets/images/extras.ico" width="32px"> Extras
        <ul>
        <li class="SubMenu">Software de Gestion de Ventas y Turnos</li>
        </ul>
        </td>
    </tr>
</table>
