<table>
    <thead>
        <tr>
            <th>Estudios</th>
            <th>Lugar</th>
            <th>Periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tecnicatura en Programacion</td>
            <td>UTN Villa Maria</td>
            <td>2023 - Presente</td>
        </tr>
        <tr>
            <td>Secundario Completo</td>
            <td>Cenma N° 96 - Villa Maria</td>
            <td>2017</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Cursos/Voluntariados</th>
            <th>Lugar</th>
            <th>Periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Voluntariado en Reserva Natural Pumakawa</td>
            <td>Villa Rumipal</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Concejal Estudiantil</td>
            <td>Consejo Deliberante Villa Maria</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Curso de Reanimacion Cardiopulmonar</td>
            <td>Cruz Roja Villa Maria</td>
            <td>2017</td>
        </tr>
    </tbody>
</table>
