<app-menu></app-menu>
<router-outlet />
<footer>
    <div class="container">
      <div class="copyright">© 2024 Mandaio Julián. Todos los derechos reservados.</div>
      <div class="contact-info">
        <p class="enlace"><a href="https://wa.me/3535654443?text=Hola%20vengo%20desde%20tu%20página%20web" target="_blank"> Whatsapp: (0353) - 155654443</a></p>
        <p class="enlace"><a href="mailto:manuel.mandaio@gmail.com">manuel.mandaio{{'@'}}gmail.com</a></p>
      </div>
      <div class="social-links">
        <a href="https://twitter.com/tuempresa" target="_blank">Twitter</a>
        <a href="https://instagram.com/tuempresa" target="_blank">Instagram</a>
        <a href="https://github.com/TotiManuel" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>

