<table>
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Cargo</th>
            <th>Periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Clinica Fusavim Privada S.R.L.</td>
            <td>Secretario y Guardia Nocturno</td>
            <td>Febrero 2020 - Presente</td>
        </tr>
        <tr>
            <td>Clinica San Martin (Mediterranea Salud)</td>
            <td>Secretario y Guardia Nocturno</td>
            <td>Ocasionalmente hasta el Presente</td>
        </tr>
        <tr>
            <td>Trabajos de Electricista</td>
            <td>Ayudante</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Trabajos de Albañileria</td>
            <td>Ayudante</td>
            <td>*Revisar*</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Referencias</th>
            <th>Lugar</th>
            <th>Contacto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>COSTAMAGNA Juan</td>
            <td>Clinica Fusavim Privada S.R.L.</td>
            <td>(0353) - 154122256</td>
        </tr>
        <tr>
            <td>BALLATORE Ezequiel</td>
            <td>Clinica San Martin (Mediterranea Salud)</td>
            <td>(0353) - 155081563</td>
        </tr>
        <tr>
            <td>ALANIZ Daniel</td>
            <td>Trabajos de Electricista</td>
            <td>(0353) - 154810565</td>
        </tr>
        <tr>
            <td>SUÑÉ Hernán</td>
            <td>Trabajos de Albañileria</td>
            <td>*Numero*</td>
        </tr>
    </tbody>
</table>