<div class="container">
    <blockquote class="quote">
        <p>"Como programador de 25 años, me apasiona el constante crecimiento profesional, la música (particularmente la guitarra). Mi objetivo es integrarme a una empresa donde pueda aplicar mis habilidades para contribuir a su desarrollo y para impulsar mejoras continuas."</p>
        <p>Si bien no tengo experiencia laboral real(Programando), trabajo continuamente en mejorar mis habilidades.</p> 
        <p>Me gusta particularmente buscar y encontrar errores de codigo y solucionarlos.</p>
        <footer class="author">- Mandaio Julián</footer>
    </blockquote>
</div>
