<div class="container">
    <blockquote class="quote">
        <p>"Como programador de 25 años, me apasiona el constante crecimiento profesional, la música (particularmente la guitarra), y tengo una inclinación natural hacia el trato cordial y la colaboración. Mi objetivo es integrarme a una empresa donde pueda aplicar mis habilidades para contribuir a su desarrollo y adquirir experiencia en un entorno dinámico, con el fin de impulsar mejoras continuas."</p>
        <footer class="author">- Mandaio Julián</footer>
    </blockquote>
</div>
